## Decision Tree As an Regression

## With 1 Independent & 1 Dependent Variable

### Step 1: import Data

In [1]:
import pandas as pd
dataset = pd.read_csv('boston1.csv')

In [2]:
dataset

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

### Step 2 : Find x & y

In [11]:
X = pd.DataFrame(dataset['lstat'])
y = pd.DataFrame(dataset['medv'])

### Step 3 : Split the Data

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

### Step 4 : Model Creation & Training

In [13]:
from sklearn.tree import DecisionTreeRegressor
dtr_1 = DecisionTreeRegressor()
dtr_1.fit(X_train,y_train)

DecisionTreeRegressor()

### Step 5 : Prediction of Model

In [14]:
y_pred_1 = dtr_1.predict(X_test)

In [15]:
y_pred_1

array([12.7 ,  8.3 , 10.4 , 22.6 , 22.5 , 29.  ,  8.5 , 15.2 , 27.1 ,
        5.  , 26.4 , 16.  , 28.7 , 14.4 , 27.5 , 20.2 , 23.2 , 22.8 ,
       30.5 , 31.5 , 18.7 , 23.4 , 20.4 , 22.9 , 13.4 , 23.4 , 13.4 ,
       21.7 , 29.4 , 19.6 , 15.6 , 17.2 ,  5.6 , 15.1 , 50.  , 22.2 ,
       19.  , 29.9 , 23.2 , 31.  , 18.9 , 33.1 , 25.  , 23.1 , 18.9 ,
       12.6 , 20.3 , 29.9 , 24.7 , 32.4 ,  9.7 , 33.4 , 21.7 , 18.2 ,
       50.  , 29.9 , 16.8 , 21.2 , 21.2 , 28.5 , 19.9 , 37.3 , 21.8 ,
       13.6 , 19.5 , 24.3 , 19.9 , 30.1 , 21.7 , 13.1 , 24.95, 29.15,
       18.7 , 10.5 , 50.  , 17.1 , 29.6 , 18.85, 22.2 , 28.4 , 19.9 ,
       25.3 , 16.1 , 21.8 , 13.6 , 19.9 , 21.  , 29.  , 36.1 , 18.9 ,
       24.7 , 22.7 , 30.1 , 23.4 , 23.4 , 13.3 , 21.7 , 21.7 , 23.4 ,
       24.7 , 20.6 , 50.  ])

In [16]:
y_test

     medv
419   8.4
431  14.1
127  16.2
84   23.9
0    24.0
..    ...
452  16.1
288  22.3
410  15.0
173  23.6
192  36.4

[102 rows x 1 columns]

### Step 6 : Evaluation of Model

In [18]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred_1))
print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_pred_1))
print('Root Mean Squared Error:',np.sqrt(metrics.mean_absolute_error(y_test,y_pred_1)))

Mean Absolute Error: 5.583823529411766
Mean Squared Error: 62.05389705882352
Root Mean Squared Error: 2.3630115381461354

In [19]:
# r squared value
r2 = dtr_1.score(X_test, y_test)
print(f"R-squared value: {r2:.4f}")

R-squared value: 0.3941

Since, R- Squared value is smaller than 0.5 which is very bad so we have to check with all attribute except last one as independent variable and last one attribute as dependent variable

### Step 1: import Data

In [20]:
import pandas as pd
data = pd.read_csv('boston1.csv')

In [21]:
data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

### Step 2 : Find x & y

In [22]:
x = pd.DataFrame(data.iloc[:,:-1])

### Step 3 : Split the Data

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

### Step 4 : Model Creation & Training

In [24]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

### Step 5 : Prediction of Model

In [25]:
y_pred = dtr.predict(x_test)

In [26]:
y_pred

array([17.1, 17.2, 28.7, 19.9, 24.5, 21.6, 12.7, 21.8, 10.9, 21.7, 20.9,
       36.2, 10.2, 19.6, 26.4, 31.1,  7. , 22.3, 36.4, 16.4, 22.8, 27.5,
       21.7, 34.9, 50. , 33. , 21. , 22.2, 21.7, 36.4, 22.8, 10.9, 11.9,
       15. , 14.4, 21.4, 30.1, 22.9, 34.9, 30.5, 50. , 28.5, 18.6, 29.4,
       23.1, 17.4, 21.7, 10.2, 36.4, 14.4, 22.5, 50. , 20.9, 19.5, 19.6,
       27.9, 20.6, 17.1, 21.2, 22.3, 27.5,  7. , 24.4, 22.8, 13.3, 14.6,
       27.9, 28.4, 21.7, 20.9, 28.4, 22.2, 33. , 16.1, 33.4, 20.7, 22.9,
       28. , 24.5, 17.2, 50. ,  8.3, 23. , 16.2, 36.5, 12.3, 36.2, 50. ,
        7.2, 22.2, 19.5, 16.2, 31.5, 20.3, 31.5, 19.3, 22.7, 17.3, 25.1,
       14.1, 20.6,  8.8])

In [27]:
y_test

     medv
68   17.4
411  17.2
234  29.0
357  21.7
484  20.6
..    ...
124  18.8
29   21.0
456  12.7
312  19.4
415   7.2

[102 rows x 1 columns]

### Step 6 : Evaluation of Model

In [28]:
from sklearn import metrics
import numpy as np
print('Mean Absolute Error:',metrics.mean_absolute_error(y_test,y_pred))
print('Mean Squared Error:',metrics.mean_squared_error(y_test,y_pred))
print('Root Mean Squared Error:',np.sqrt(metrics.mean_absolute_error(y_test,y_pred)))

Mean Absolute Error: 3.299019607843137
Mean Squared Error: 25.23245098039215
Root Mean Squared Error: 1.8163203483535433

In [29]:
# r squared value
r2 = dtr.score(x_test, y_test)
print(f"R-squared value: {r2:.4f}")

R-squared value: 0.7307

Since now we get R-Squared value greater than 0.5 and better than previous one which is 0.7